@model QuiqBlog.Models.PostViewModels.CreateViewModel

<div class="container-fluid">
    <h1 class="mt-4">Create</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <form asp-controller="Post" asp-action="Add" method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <i class="fas fa-pen-fancy mr-1"></i>
                        Написать пост
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="HeaderImage"></label>
                            <div class="custom-file">
                                <input asp-for="HeaderImage" class="custom-file-input" accept="image/*" required />
                                <label class="custom-file-label">Выбрать файл</label>
                            </div>
                            <span asp-validation-for="HeaderImage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Post.Title"></label>
                            <input asp-for="Post.Title" class="form-control" required />
                            <span asp-validation-for="Post.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Post.Content"></label>
                            <textarea asp-for="Post.Content" class="form-control textarea" rows="8"></textarea>
                            <span asp-validation-for="Post.Content" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <p class="text-muted">Опубликуйте сейчас или сохраните для последующих правок.</p>
                            <label>Опубликовать сейчас?</label>
                            <input type="checkbox" data-toggle="toggle" asp-for="Post.Published">
                            </br>
                            <button class="btn btn-primary" type="submit">Предоставить на рассмотрение</button>
                        </div>
                        <p style="color: orangered; margin-bottom: 0;">Пожалуйста, обратите внимание:</p>
                        <p>Ваш пост должен быть одобрен, прежде чем он будет опубликован на главной странице. Пожалуйста, не стесняйтесь, напишите нам, чтобы утвердить вашу публикацию.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.textarea'))
            .catch(error => {
                console.error(error);
            });

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}