<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <ul class="list-inline text-right">
                    <li class="list-inline-item ms-3">
                        <a href="https://vk.com/public220461026">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-vk fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://web.telegram.org/k/#-963718163">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-telegram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-8 col-lg-10 ms-3 px-8">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://vk.com/public220461026?w=wall-220461026_1" class="nav-link p-0 text-body-auto">Реклама</a></li>
                    <li class="nav-item mb-2"><a href="https://vk.com/topic-220461026_49134636" class="nav-link p-0 text-body-secondary">Контакты</a></li>
                    <li class="nav-item mb-2"><a href="https://vk.com/topic-220461026_49134673" class="nav-link p-0 text-body-secondary">Пользовательское соглашение</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>